<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Currency exchange rates</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400&family=Noto+Sans:ital,wght@0,300;0,400;1,300&family=Poppins:wght@400;500;800&display=swap"
        rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js"></script>
    <link href="../static/styles.css" rel="stylesheet">
    <script src="../script.js"></script>
</head>

<body>
    <header>
        <div class="header-img">
            <div class="header-text">
                <h1>Currency exchange rates</h1>
                <p>Check the value of the Polish zloty (PLN) on the selected date</p>
            </div>
            <div class="header-bg"></div>
        </div>
    </header>

    <form class="currency-form">
        <select name="currency-code" id="currency-code" class="currency-form-item" required>
            <option disabled selected>Select currency</option>
        </select>
        <input name="currency-date" type="date" id="currency-date" class="currency-form-item" placeholder="dd-mm-yyyy"
            required>
        <button type="submit" class="currency-form-btn" onclick="handleFormSubmission(event);">Check the rate</button>
    </form>

    <div id="result-message" class="result-message" hidden></div>

    <div class="date-range-buttons" hidden>
        <p>Check the exchange rate chart for the last:</p>
        <button id="1-month" class="date-range-btn" value="1">1 month</button>
        <button id="3-months" class="date-range-btn" value="3">3 months</button>
        <button id="6-months" class="date-range-btn" value="6">6 months</button>
        <button id="1-year" class="date-range-btn" value="12">1 year</button>
    </div>

    <div class="chart-container" hidden>
        <canvas id="historical-chart" width="900" height="400"></canvas>
    </div>


    <footer>
        <p>&copy; 2023 Based on data provided by <a href="https://www.nbp.pl/" target="_blank"
                rel="noopener noreferrer">the National Bank of Poland (NBP)</a></p>
    </footer>

</body>

</html>